<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<h1 style="margin-top: 5%;">Task List</h1>
<div class="header-bar">
    <div>
        <h1> Hello, {{user.username| title}}</h1>
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<td><a href="{% url 'task-create' %}">Add Task</a></td>

<table border="2" width="100%">

    <div class="task-items-wrapper">


        <tr bgcolor="yellow">
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Date and Time</th>
        </tr>


        {% for task in task %}


        <tr>
            <td align="middle">{{task.id}}</td>
            <td>{{task.title}}</td>
            <td>{{task.description}}</td>
            <td align="middle">{{task.completed}}</td>
            <td align="middle">{{task.created}}</td>
            <td><a href="{% url 'task-update' task.id %}">Update</a></td>
            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
            <td><a href="{% url 'task-details' task.id %}">View</a></td>


        </tr>


        {% endfor %}


    </div>

</table>

</body>
</html>